@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
  padding-top: 70px;
}

.header {
  background-image: url(https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/42608156_482028372302947_874190513782128640_n.jpg?_nc_cat=103&_nc_sid=dd9801&_nc_oc=AQnnYWrtXciXsz8YGuGFpzz-T4yZ986zHSNo7eU02g9jrpR3qscSGGuh1R9bPgV75uQ&_nc_ht=scontent-mxp1-1.xx&oh=f93979a8b590f0b57d634ce169936c09&oe=5E96C393);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  color: antiquewhite;
}

.footer {
  padding: 25px;
  background-color: light-gray;
}

html {
  font-family: "Source Sans Pro", sans-serif;
}

.title {
  padding-bottom: 30px;
}

.teammates {
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .teammates {
    text-align: center;
  }
}

.ultimi {
  padding-bottom: 40px;
}

.google-maps {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

button:hover,
input[name="submit"]:hover,
a:hover {
  cursor: pointer;
}
